In [ ]:
import pandas as pd

In [ ]:
df_emp=pd.read_csv("/content/EmployeeData.csv")
df_dep=pd.read_csv("/content/DepartmentData.csv")

In [ ]:
merged_df = pd.merge(df_emp, df_dep, on='department_id', how='left')

In [ ]:
print(merged_df)

                 name  age     bonus  base_salary  department_id  \
0         Steve Smith   46  26048.96        59545              7
1           Eva Brown   31  46217.53        95261             17
2    Charlie Anderson   34  33768.80        97466              8
3     Rachel Martinez   49  30688.55        93735              7
4          Nina White   24  26566.34        56517              1
..                ...  ...       ...          ...            ...
375      Steve Garcia   40  26524.79        73248             12
376        Nina Clark   47  14331.60        30539             14
377   Rachel Martinez   36  44455.00        92493             11
378     Hannah Harris   57  24093.74        53098              4
379     Pamela Thomas   60  15722.04        45884              3

                    department_name  tax_rate
0                          Accounts      0.12
1                             Legal      0.14
2                        Operations      0.30
3                          Accounts      0.12
4                Talent Acquisition      0.22
..                              ...       ...
375                     Engineering      0.13
376                       Marketing      0.38
377                       Technical      0.21
378  Research and Development (R&D)      0.33
379                Customer Service      0.34

[380 rows x 7 columns]

In [9]:
merged_df['net_salary']=(merged_df['base_salary']+merged_df['bonus'])*(1-merged_df['tax_rate'])
print(merged_df)

                 name  age     bonus  base_salary  department_id  \
0         Steve Smith   46  26048.96        59545              7
1           Eva Brown   31  46217.53        95261             17
2    Charlie Anderson   34  33768.80        97466              8
3     Rachel Martinez   49  30688.55        93735              7
4          Nina White   24  26566.34        56517              1
..                ...  ...       ...          ...            ...
375      Steve Garcia   40  26524.79        73248             12
376        Nina Clark   47  14331.60        30539             14
377   Rachel Martinez   36  44455.00        92493             11
378     Hannah Harris   57  24093.74        53098              4
379     Pamela Thomas   60  15722.04        45884              3

                    department_name  tax_rate   net_salary
0                          Accounts      0.12   75322.6848
1                             Legal      0.14  121671.5358
2                        Operations      0.30   91864.3600
3                          Accounts      0.12  109492.7240
4                Talent Acquisition      0.22   64805.0052
..                              ...       ...          ...
375                     Engineering      0.13   86802.3273
376                       Marketing      0.38   27819.7720
377                       Technical      0.21  108188.9200
378  Research and Development (R&D)      0.33   51718.4658
379                Customer Service      0.34   40659.9864

[380 rows x 8 columns]

In [11]:
avg_salary_by_department = merged_df.groupby('department_name')['net_salary'].mean().reset_index()

sorted_avg_salary = avg_salary_by_department.sort_values(by='net_salary', ascending=False)



print(sorted_avg_salary)

                   department_name    net_salary
0                         Accounts  87621.851240
8                            Legal  84939.271700
9                        Logistics  83338.993455
18                       Technical  82845.040600
6                               HR  82318.159900
4                      Engineering  77359.799700
1             Business Development  76212.396535
3                        Education  70849.017375
16                           Sales  70457.413325
17              Talent Acquisition  64335.881610
7                               IT  63863.460675
11                      Operations  62301.310400
5                          Finance  62263.259415
14               Quality Assurance  61846.002890
2                 Customer Service  59702.041410
15  Research and Development (R&D)  59549.536015
13                Public Relations  58952.117980
10                       Marketing  55113.780900
12              Product Management  53356.979000

ANSWER:

In [ ]:
all the best iofqcrpmp